:root{
    --primary-color: #4e6ffc;
    --light-color: #f9f9f9;   
    --dark-color: #333;
    --header-color:	#353263;
    --hovercolor: #6a329f;
}
*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.6;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
}
header{
    background: var(--header-color);
    color: var(--light-color);
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 10px;
}
nav ul li a{
    text-decoration: none;
    color: var(--light-color);
    font-weight: 600;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: var(--hovercolor);
}
/* hero section */
.hero{
    color: var(--light-color);
    text-align: center;
    padding: 150px 20px;
    background-color: var(--primary-color);
}
.hero h2{
    font-size: 40px;
    margin-bottom: 7px;
}
.hero p{
    font-size: 28px;
    margin-bottom: 5px;
}
.btn{
    padding: 10px 20px ;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3S;
}
.btnlight{
    background-color: var(--light-color);
    color: var(--primary-color);
    
}
.btnlight:hover{
    background: #f1f1f1;
}
.btndark{
    color: var(--light-color);
    background-color: var(--primary-color);
}
.btndark:hover{
    background-color: #0056b3;
}

/* about me section */
.about{
    max-width: 1200px;
    margin: auto;
    padding: 80px 20px;
}
.about h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}
.aboutdetails{
    display: flex;
    align-items: center;
    gap: 40px;
}
.aboutimg, .abouttext{
    flex: 1;
}
.aboutimg{
    text-align: center;
}
.aboutimg img{
    border-radius: 15px;
    width: 100%;
    height: auto;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.abouttext{
    color: #666;
}
.abouttext p{
    margin-bottom: 20px;
    line-height: 1.8;
}
.abouttext ul{
    list-style: disc;
    margin-inline-start: 20px;
    margin-bottom: 20px;
}
.abouttext ul li{
    margin-bottom: 10px;
}
