:root{
    --primary-color: #4e6ffc;
    --light-color: #f9f9f9;   
    --dark-color: #333;
    --header-color:	#353263;
    --hovercolor: #da0909;
    --whitecolor:#ffffff;
}
*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.6;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
}
header{
    background: var(--header-color);
    color: var(--light-color);
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 10px;
}
nav ul li a{
    text-decoration: none;
    color: var(--light-color);
    font-weight: 600;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: var(--hovercolor);
}
/* hero section */
.hero{
    color: var(--light-color);
    text-align: center;
    padding: 150px 20px;
    background-color: var(--primary-color);
}
.hero h2{
    font-size: 40px;
    margin-bottom: 7px;
}
.hero p{
    font-size: 28px;
    margin-bottom: 5px;
}
.btn{
    padding: 10px 20px ;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3S;
}
.btnlight{
    background-color: var(--light-color);
    color: var(--primary-color);
    
}
.btnlight:hover{
    background: #f1f1f1;
}
.btndark{
    color: var(--light-color);
    background-color: var(--primary-color);
}
.btndark:hover{
    background-color: #0056b3;
}

/* about me section */
.about{
    background-color: var(--whitecolor);
}

.aboutcontainer{
    max-width: 1200px;
    margin: auto;
    padding: 80px 20px;
}
.aboutcontainer h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}
.aboutdetails{
    display: flex;
    align-items: center;
    gap: 40px;
}
.aboutimg, .abouttext{
    flex: 1;
}
.aboutimg{
    text-align: center;
}
.aboutimg img{
    border-radius: 15px;
    width: 100%;
    height: auto;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.abouttext{
    color: #666;
}
.abouttext p{
    margin-bottom: 20px;
    line-height: 1.8;
}
.abouttext ul{
    list-style: disc;
    margin-inline-start: 20px;
    margin-bottom: 20px;
}
.abouttext ul li{
    margin-bottom: 10px;
}

/* skill section */

.skill{
    padding: 80px 20px;
    max-width: 1200px;
    margin: auto;
}
.skill h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}
.skillgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}
.skillcard{
    text-align: center;
    background-color: var(--whitecolor);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    padding: 20px;
    transition: transform 0.3s;
}
.skillcard:hover{
    /* best transform for any card */
    transform: translateY(-10px);
}
.skillcard i{
    font-size: 3rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}
.skillcard h3{
    font-size: 1.1rem;
}

/* project section */

.project{
    padding: 80px 20px;
    max-width: 1200px;
    margin: auto;
}
.project h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.project-card{
    background-color: var(--whitecolor);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    padding: 20px;
    transition: transform 0.3s;
}
.project-card:hover{
    transform: translateY(-10px);
}
.project-card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.project-card h3{
    margin-bottom: 10px;
}
.project-card p{
    color: gray;
    margin-bottom: 10px;
}

/* contact section */
.contact{
     padding: 80px 20px;
    max-width: 1200px;
    margin: auto;
}
.contact h2{
     font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}
.contact-content{
    text-align: center;
}
.contact-content p {
    color: gray;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: auto;
}
form input, form textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
form button{
    border: none;
}
/* footer */
.footer{
    color: var(--whitecolor);
    margin-top: 20px;
    background-color: var(--dark-color);
    text-align: center;
    padding: 20px;
}
.footer p{
    font-size: 20px;
    font-weight: 600;
}
.social-link{
    margin-top: 10px;
}
.social-link a{
    color: var(--whitecolor);
    margin: 0 10px;
    font-size: 1.5rem;
    transition: 0.3s;
}
.social-link a:hover{
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .aboutdetails{
        flex-direction: column;
    }
    .aboutimg img{
        max-width: 300px;
    }
}

@media (max-width: 485px) {
     nav ul{
        flex-direction: column;
        align-items: center;
        font-size: small;
    }
}